* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5dc89;
  color: black;
  min-height: 100vh;
}

main {
  max-width: 60%;
  margin: 50px auto;
  padding: 2em 0;
}

#acceso {
  width: 100%;
  background-color: ghostwhite;
  border: 1px solid #6b6b6b;
  border-radius: 6px;
  padding: 2em;
  margin: 4em auto;
  box-shadow: 0.1em 0.1em 0 #8b8b8b;
}

#pasaporte{
  display:none;
}

#acceso h1 {
  font-size: 2.5em;
  margin: 0;
  color: #202020;
}

#acceso p{
  margin-top:6px;
  margin-bottom:20px;
}

label {
  margin-bottom: 0.5em;
  font-weight: bold;
}

input {
  margin-top:20px;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #b9b8b8;
  border-radius: 0.7em;
}

button {
  margin-top: 1.4em;
  padding: .7em 2em;
  font-size: 1em;
  font-weight: bold;
  background-color: #3d3db6;
  color:white;
  border: 0.15em solid #100475;
  border-radius:6px;
}

button:hover{
transform:translateY(-0.15);
}

button:disabled{
  opacity:0.5;
  cursor:not-allowed;
}

.barra{
  width:100%;
  height:1.5em;
  overflow:hidden;
  background-color: ghostwhite;
  border:0.15em solid #6b6b6b;
  border-radius:1em;
}

.barraProgreso{
  width:0;
  height:100%;
  background-color: #8b8b8b;
  transition:width 0.4s;
}


#listaBares {
  display: grid;
  /* Creamos exactamente 3 columnas del mismo tamaño */
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;            /* Espacio de separación entre tarjetas */
  margin-top: 2em;      /* Separación superior con respecto a la barra */
}

/* Estilos para las tarjetas individuales de los bares */
.bar {
  background-color: ghostwhite;
  border: 1px solid #6b6b6b;
  border-radius: 6px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.1em 0.1em 0 #8b8b8b;
}

/* Estilo para destacar visualmente el bar una vez sellado */
.bar-visitado {
  background-color: #d1f2d9; /* Un tono verde suave y agradable */
  border-color: #79c88e;
}

/* --- Adaptación para móviles (Opcional pero muy recomendable) --- */
/* Si la pantalla mide menos de 768px (móviles), pasa a verse en 1 columna */
@media (max-width: 768px) {
  #listaBares {
    grid-template-columns: 1fr;
  }
}